.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}
.nav ul li {
    padding: 0 1em;
}

.nav a, .nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}

@media (max-width: 1096px) {
    
    .nav ul{
        flex-direction: column;
    }
    .nav ul li {
        margin-bottom: 0.5em;
    }
}

@media (max-width: 768px) {
    .main{
        width: 60%;
    }
    .main.technology {
        width: 100%;
    }
    .site-header{
        flex-direction: column !important;
    }
    .header {
        flex-direction: column;
    }
    
    .title{
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
        padding: 0;
    }
    .landingpage h1{
        grid-column: span 2 !important;   
    }
    .logo{
        width: 200px;
        height: 200px;
      
    }
    
}

@media (max-width: 516px){
    .landingpage h1{
        grid-column: span 1 !important;   
    }
    
}