.footer {
  background-color: $background-color-footer;
  color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.social {
  a {
    text-decoration: none;
    color: #eee;
    font-size: 3rem;
  }
}
