.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.site-header {
  display: flex;
  align-items: center;
  padding: 2rem;
  
  h1 {
    font-weight: 200;
  }
    
  a {
    text-decoration: none;
    color: $main-text-color;
    letter-spacing: 2px;
    padding-right: 3rem;
    font-family: 'signika';
  }

}

.nav {
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
  }
  
  a {
    font-size: 1rem;
    text-decoration: none;
    color: $main-text-color;
    font-size: 1.2em;
    font-family: 'quicksand';
    margin: 2em;
  }

}
