@mixin img_settings {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  height: auto;
}

.img-site {
  @include img_settings;
}

.round-image {
  border-radius: 50%;
  @include img_settings;
}
