@mixin header-spec {
  font-family: 'Quicksand';
  color: #222;
  margin-bottom: 3rem;
  text-align: center;
}

@mixin para {
  line-height: 1.4;
  font-family: 'Montserrat',sans-serif;
  font-size: 1.25em;
  color: #333;
  letter-spacing: 1px;
}

.main {
  p {
    @include para;
  }

  h1 {
    @include header-spec;
    font-size: 2.8em;
    letter-spacing: 3px;
    font-weight: 300;
  }

  h2,
  h3,
  h4 {
    @include header-spec;
  }

  li {
    @include para;
  }
}
