@mixin header-spec {
  font-family: 'Quicksand';
  color: $main-text-color;
  margin-bottom: 3rem;
  text-align: center;
}

@mixin para {
  line-height: 1.4;
  font-family: 'Quicksand',sans-serif;
  font-size: 1.25rem;
  color: $main-text-color;
  letter-spacing: 1px;
}

.main {
  p,
  td,
  th {
    @include para;
  }

  h1 {
    @include header-spec;
    font-size: 2.8rem;
    letter-spacing: 3px;
    font-weight: 300;
  }

  h2,
  h3,
  h4 {
    @include header-spec;
  }

  li {
    @include para;
  }
  
  a {
    color: #08c;
  }
}




